strong {
  color: #57ffa2e6;
}

body {
  background-color: #141918 !important;
}

.sidebar,
.header,
.popup {
  background: #202524 !important;
}

.sidebar .active::before {
  background-color: #57ffa2e6 !important;
}

textarea {
  border-color: #57ffa2e6 !important;
}